<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My First web page</title>
    <style>
      img {
        width: 100px;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
      }

      .användarnamn {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <img src="/Batman.png" alt="En fet bild på linjära bÄtmÄn" />
    <p class="användarnamn">@AleandraKlingvall</p>
    <p>Jag lever för att festa galet!</p>
  </body>
</html>
