<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        img {
            width: 100px;
            height: 90
            px;
            object-fit: cover;
        }
    </style>
  </head>
  <body>
    <a href="../templates/testigen.html">Home Page</a>
    <a href="/Batman.png" download>BÄääTMÄääN</a>
    <a href="#JAG!">JAG!!!</a>
    <a href="https://google.com" target="_blank">GOOGLEnator</a>
    <a href="/jag.JPG">Rizzandra</a>
    <a href="mailto:alexandra.klingvall@gmail.com">Email me</a>
    <h2>SLAYonidas ord</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nisi,
      corporis nulla ducimus totam asperiores labore exercitationem suscipit
      quis. Aliquam iusto ipsam, dolorum illum vitae laudantium adipisci qui
      tenetur sunt reprehenderit, labore dolor rem magnam perferendis tempore
      modi soluta possimus deleniti molestiae quisquam, omnis natus! Illum eius
      numquam perspiciatis a suscipit commodi itaque, veniam culpa. Officia,
      perspiciatis voluptatibus ullam repellat asperiores aperiam itaque ipsum
      dolor est obcaecati provident dolores non. Suscipit vel quas totam, nam
      odit, animi voluptas veniam laboriosam voluptates quod, praesentium labore
      quis quidem aliquid nostrum doloremque voluptate illum quos. A nesciunt
      eveniet, nemo inventore id accusamus esse minus! Consequuntur distinctio
      rerum sit eum quaerat esse qui iusto hic et corporis repellendus earum,
      reiciendis minus! Vel atque mollitia facere aperiam quia fugiat
      accusantium ex cupiditate repudiandae, nobis numquam voluptate corporis
      dolores expedita similique aliquam provident magnam architecto officia
      quibusdam libero reiciendis? Eligendi neque distinctio maiores aliquam
      accusantium natus similique ad porro autem ea praesentium illo dolorem
      eius odit dolorum ab rem facilis suscipit quae, cupiditate quas voluptatem
      officia. Repellat maiores ducimus error, commodi ipsa odit. Officiis enim
      delectus repudiandae mollitia asperiores, iste libero commodi autem optio
      in cumque dignissimos quidem nostrum obcaecati unde natus aliquam sit hic
      ad.
    </p>
    <h2 id="JAG!">Rizzandra</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorum
      ex magni veniam dolores sed quam cupiditate porro eaque. Necessitatibus.
    </p>
    <button href="#">botten -> TOPPEN!</button>
    <img src="/gräs.png" alt="mitt fina project oom grääääs">
  </body>
</html>
