.choice-box .arrow-button:hover {
    -fx-background-color: transparent;
}

.choice-box .list-view .list-cell:hover {
    -fx-background-color: orange;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.choice-box .arrow-button {
    -fx-background-color: transparent;
}

.choice-box .arrow {
    visibility: hidden;
}

.choice-box .label {
    -fx-text-fill: #000000;
    -fx-padding: 0px;
    -fx-font-size: 26px;
}
.choice-box .context-menu:hover {
    -fx-background-color: #f48f0b;
}
.cb .menu-item:focused {
    -fx-background-color: yellow ; /* for example */
  }
