<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>
    <a href="{{ url_for('index') }}">
      <button type="button" class="back">
        <span class="back__text">Tillbaka till framsidan</span>
        <span class="back__icon">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </span>
      </button>
    </a>

    <h1 id="neon">Veckornas kö historik</h1>
    <p>Välj vilken antalet veckor som du vill kolla historiken för:</p>
    <select id="dropdown" name="dropdown">
      <option value="1">1 vecka</option>
      <option value="2">2 veckor</option>
      <option value="3">3 veckor</option>
      <option value="4">4 veckor</option>
    </select>
    <button id='confirm'>Klicka här!</button>

    <div id="graph-container" style="display: none;">
      <img id="graph-image" src="" alt="Graph Image">
      <button id="close">Stäng</button>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nisi soluta
      tempora aliquam atque consequuntur. Sed ipsa consequatur doloribus sequi
      nihil vero? Facere molestias sequi perferendis iste ut, explicabo, soluta
      obcaecati, non vitae assumenda excepturi. Nisi corporis perspiciatis
      dolores vel, aliquam odio magnam deserunt, cum cupiditate blanditiis atque
      officiis unde.
    </p>

    <!-- Testa pilen -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      // Function to update the graph image
        function updateGraphImage(imagePath) {
          // Update the src attribute of the image tag
          document.getElementById('graph-image').src = imagePath + '?_=' + new Date().getTime();
        }

      let button = document.getElementById('confirm');
      let dropdown = document.getElementById('dropdown');
      button.addEventListener('click', function () {
        let selectedValue = dropdown.value;

        // Show the graph container
        

        // Send a POST request to the server
        $.ajax({
          type: 'POST',
          url: '/data-history',
          data: JSON.stringify({ 'data': selectedValue }),
          contentType: 'application/json',
          success: function (response) {
            // Assuming response contains the image path
            updateGraphImage(response.imagePath);
            document.getElementById('graph-container').style.display = 'block';
          },
          error: function (error) {
            console.error('Error sending POST request:', error);
          },
        });
      });

      let closeButton = document.getElementById('close');
      closeButton.addEventListener('click', function () {
        document.getElementById('graph-container').style.display = 'none'
      });
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  </body>
</html>
