<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="Köuppdatering, Sivans" />
    <title>Document</title>
    <style>
      em {
        color: red;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <a href="sido.html">
        <img src="/Batman.png" alt="">
    </a>
    <p>Tess i mitt hjärta!&copy; och såklart <em>HTML</em> med!</p>
    <h1>Sivans Köuppdatering</h1>
    <h2>Just nu</h2>

    <p>Just nu är det tomt</p>
    <h3>förra veckan</h3>
    <p>Vid den här tiden förra veckan va två rader fulla</p>
    
  </body>
</html>
