<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="index.html">Tillbaka</a>
    <h2>Förra veckans Köuppdatering</h2>
    <p>Förra veckan va kön såhär lång den här tiden</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nisi soluta
      tempora aliquam atque consequuntur. Sed ipsa consequatur doloribus sequi
      nihil vero? Facere molestias sequi perferendis iste ut, explicabo, soluta
      obcaecati, non vitae assumenda excepturi. Nisi corporis perspiciatis
      dolores vel, aliquam odio magnam deserunt, cum cupiditate blanditiis atque
      officiis unde.
    </p>
  </body>
</html>
